.detail {
  max-width: 780px;
  border-radius: 16px;
  box-shadow: 0px 10px 50px 0px rgba(4, 0, 49, 0.1);
  background-color: #fff;
  padding: 36px 36px 80px;
}

.detail__header {
  display: grid;
  grid-template-columns: 101px 1fr;
  gap: 12px 20px;
  margin-bottom: 32px;
}

.detail__logo {
 width: 100%;
 max-height: 101px;
 grid-row: 1 / 3;
 align-self: center;
 justify-self: start;
}

.detail__company {
  font-size: 32px;
  letter-spacing: 0.64px;
  align-self: end;
  justify-content: start;
}

.detail__title {
  font-size: 20px;
  font-weight: 400;
  align-self: start;
  justify-self: start;
  border-radius: 4px;
  background-color: #EAECFF;
  padding: 5px 10px;
}

.detail__main {
  display: flex;
  gap: 20px;
  margin-bottom: 32px;
}

.detail__description {
  max-width: 465px;
  line-height: 1.4;
}

.detail__fields {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 4px;

}
.detail__field {
  padding: 3px 10px;
  border-radius: 30px;
  background-color: #EAECFF;
}
.detail__resume {
  line-height: 1.4;
}
