.header {
    padding: 40px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: #A6ADFF;
    font-size: 20px;
    border: 2px solid transparent;

}
.header__link:focus-visible {
    border-color: #4f58be;
}
.header__link:hover {
    background-color: #2a18ff;
    color: #fff;
}


@media (max-width: 1140px) {
    .header {
        padding: 32px 0 40px;
    }
}

@media (max-width: 940px) {
    .header {
        padding: 24px 0 30px;
    }
    .header__link {
        padding: 8px 28px;
        font-size: 14px;
    }
}

@media (max-width: 640px) {
    .header {
        padding: 24px 0 20px;
    }
    .header__link {
       display: none;
    }
}