.header {
    padding: 40px 0;
}
.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: #A6ADFF;
    font-size: 20px;
}
