.hero {
  padding: 60px 0 50px;
}
.hero__container {
  position: relative;
  padding: 57px 0;
}
.hero__container:after {
  content: '';
  position: absolute;
  width: 421px;
  height: 330px;
  top: 0;
  right: -9px;
  background: url("../img/Other.png") no-repeat center/contain;
}
.hero__title {
  max-width: 780px;
  font-size: 90px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}

