.vacancies {
    padding: 50px 0;
}
.vacancies__container {
    display: flex;
    align-items: start;
    gap: 24px 20px;
}
.vacancies__filter-btn {
    display: none;
}
.vacancies__filter {
    flex: 0 0 280px;
}
.vacancies__cards {
    flex-basis: 100%;
}