.vacancy {
  border-radius: 16px;
  background: #FFF;
  padding: 16px;
  height: 100%;
  cursor: pointer;
  outline: none;
  border: 2px solid transparent;
}
.vacancy:hover {
  background-color: #f9faff;
}

.vacancy:focus-visible {
  border-color: #a6adff;

}
.vacancy__img {
  max-height: 44px;
  margin-bottom: 12px;
  display: block;
}
.vacancy__company {
  font-size: 20px;
}
.vacancy__title {
  margin: 8px 0;
  padding: 3px 5px;
  display: inline-block;
  border-radius: 4px;
  background-color: #EAECFF;
  color: #171717;
  font-size: 14px;
  font-weight: 400;
}

.vacancy__field {
  color: #CCC;
}
